// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.fancy {
  color: #006400;
  text-decoration: underline;
}
h1.centered {
  text-align: center;
}

div#welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00F;
  width: 40%;
  padding: 10px;
}

.bold-blue {
  font-weight: bold;
  color: #00F;
  text-decoration: underline;
}

p#description {
  text-align: center;
  font-size: 14pt;
  color: #008000;
}

